<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>earth</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>level2</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
				<array>
					<integer>250</integer>
					<integer>270</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>level3</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>water</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>space</key>
	<dict/>
</dict>
</plist>
