<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>set1</key>
	<dict>
		<key>level1</key>
		<array>
			<array>
				<integer>20</integer>
				<integer>50</integer>
			</array>
			<array>
				<integer>160</integer>
				<integer>500</integer>
			</array>
			<array>
				<integer>300</integer>
				<integer>50</integer>
			</array>
		</array>
		<key>level2</key>
		<array>
			<array>
				<integer>150</integer>
				<integer>80</integer>
			</array>
			<array>
				<integer>130</integer>
				<integer>140</integer>
			</array>
			<array>
				<integer>80</integer>
				<integer>140</integer>
			</array>
			<array>
				<integer>40</integer>
				<integer>220</integer>
			</array>
			<array>
				<integer>40</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>110</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>120</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>140</integer>
				<integer>290</integer>
			</array>
			<array>
				<integer>160</integer>
				<integer>290</integer>
			</array>
			<array>
				<integer>180</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>190</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>220</integer>
			</array>
			<array>
				<integer>220</integer>
				<integer>140</integer>
			</array>
			<array>
				<integer>170</integer>
				<integer>140</integer>
			</array>
			<array>
				<integer>150</integer>
				<integer>80</integer>
			</array>
		</array>
		<key>level3</key>
		<array>
			<array>
				<integer>120</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>120</integer>
				<integer>250</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>250</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>60</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>60</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>170</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>150</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>180</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>160</integer>
				<integer>250</integer>
			</array>
			<array>
				<integer>200</integer>
				<integer>250</integer>
			</array>
			<array>
				<integer>120</integer>
				<integer>20</integer>
			</array>
		</array>
	</dict>
	<key>set2</key>
	<dict>
		<key>level1</key>
		<array>
			<array>
				<integer>46</integer>
				<integer>312</integer>
			</array>
			<array>
				<integer>104</integer>
				<integer>442</integer>
			</array>
			<array>
				<integer>262</integer>
				<integer>380</integer>
			</array>
			<array>
				<integer>272</integer>
				<integer>50</integer>
			</array>
			<array>
				<integer>153</integer>
				<integer>200</integer>
			</array>
			<array>
				<integer>50</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>level2</key>
		<array>
			<array>
				<integer>140</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>60</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>60</integer>
				<integer>144</integer>
			</array>
			<array>
				<integer>20</integer>
				<integer>144</integer>
			</array>
			<array>
				<integer>20</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>115</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>115</integer>
				<integer>340</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>90</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>210</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>210</integer>
				<integer>360</integer>
			</array>
			<array>
				<integer>185</integer>
				<integer>340</integer>
			</array>
			<array>
				<integer>185</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>280</integer>
				<integer>320</integer>
			</array>
			<array>
				<integer>280</integer>
				<integer>144</integer>
			</array>
			<array>
				<integer>240</integer>
				<integer>144</integer>
			</array>
			<array>
				<integer>240</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>210</integer>
				<integer>260</integer>
			</array>
			<array>
				<integer>210</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>160</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>160</integer>
				<integer>160</integer>
			</array>
			<array>
				<integer>140</integer>
				<integer>160</integer>
			</array>
			<array>
				<integer>140</integer>
				<integer>20</integer>
			</array>
		</array>
		<key>level3</key>
		<array>
			<array>
				<integer>46</integer>
				<integer>312</integer>
			</array>
			<array>
				<integer>104</integer>
				<integer>442</integer>
			</array>
			<array>
				<integer>262</integer>
				<integer>380</integer>
			</array>
			<array>
				<integer>272</integer>
				<integer>50</integer>
			</array>
			<array>
				<integer>153</integer>
				<integer>200</integer>
			</array>
			<array>
				<integer>50</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
	<key>set3</key>
	<dict>
		<key>level1</key>
		<array>
			<array>
				<integer>46</integer>
				<integer>312</integer>
			</array>
			<array>
				<integer>104</integer>
				<integer>442</integer>
			</array>
			<array>
				<integer>262</integer>
				<integer>380</integer>
			</array>
			<array>
				<integer>272</integer>
				<integer>50</integer>
			</array>
			<array>
				<integer>153</integer>
				<integer>200</integer>
			</array>
			<array>
				<integer>50</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>level2</key>
		<array>
			<array>
				<integer>100</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>20</integer>
				<integer>135</integer>
			</array>
			<array>
				<integer>100</integer>
				<integer>135</integer>
			</array>
			<array>
				<integer>75</integer>
				<integer>365</integer>
			</array>
			<array>
				<integer>20</integer>
				<integer>415</integer>
			</array>
			<array>
				<integer>100</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>150</integer>
				<integer>250</integer>
			</array>
			<array>
				<integer>200</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>280</integer>
				<integer>415</integer>
			</array>
			<array>
				<integer>225</integer>
				<integer>365</integer>
			</array>
			<array>
				<integer>200</integer>
				<integer>135</integer>
			</array>
			<array>
				<integer>280</integer>
				<integer>135</integer>
			</array>
			<array>
				<integer>200</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>100</integer>
				<integer>20</integer>
			</array>
		</array>
		<key>level3</key>
		<array>
			<array>
				<integer>46</integer>
				<integer>312</integer>
			</array>
			<array>
				<integer>104</integer>
				<integer>442</integer>
			</array>
			<array>
				<integer>262</integer>
				<integer>380</integer>
			</array>
			<array>
				<integer>272</integer>
				<integer>50</integer>
			</array>
			<array>
				<integer>153</integer>
				<integer>200</integer>
			</array>
			<array>
				<integer>50</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
</dict>
</plist>
