<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>set1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>100</integer>
					<string>144</string>
				</array>
				<array>
					<integer>233</integer>
					<integer>128</integer>
				</array>
				<array>
					<integer>165</integer>
					<integer>328</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>200</integer>
		</dict>
		<key>level2</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>80</integer>
					<string>210</string>
				</array>
				<array>
					<integer>205</integer>
					<integer>210</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>350</integer>
		</dict>
		<key>level3</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>112</integer>
					<string>415</string>
				</array>
				<array>
					<integer>142</integer>
					<string>210</string>
				</array>
				<array>
					<integer>113</integer>
					<integer>299</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>600</integer>
		</dict>
	</dict>
	<key>set2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>fixedObjectPosition</key>
			<array>
				<array>
					<integer>152</integer>
					<string>282</string>
				</array>
			</array>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>300</integer>
		</dict>
		<key>level2</key>
		<dict>
			<key>fixedObjectPosition</key>
			<array>
				<array>
					<integer>148</integer>
					<string>232</string>
				</array>
			</array>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>113</integer>
					<string>92</string>
				</array>
				<array>
					<integer>177</integer>
					<integer>90</integer>
				</array>
				<array>
					<integer>203</integer>
					<integer>280</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>200</integer>
		</dict>
		<key>level3</key>
		<dict>
			<key>fixedObjectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
			</array>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>set3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>400</integer>
		</dict>
		<key>level2</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>100</integer>
					<string>356</string>
				</array>
				<array>
					<integer>195</integer>
					<string>334</string>
				</array>
				<array>
					<integer>90</integer>
					<string>91</string>
				</array>
				<array>
					<integer>200</integer>
					<integer>86</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>300</integer>
		</dict>
		<key>level3</key>
		<dict>
			<key>objectPosition</key>
			<array>
				<array>
					<integer>119</integer>
					<string>346</string>
				</array>
				<array>
					<integer>81</integer>
					<string>212</string>
				</array>
				<array>
					<integer>217</integer>
					<string>190</string>
				</array>
				<array>
					<integer>220</integer>
					<integer>253</integer>
				</array>
			</array>
			<key>objectSpeed</key>
			<integer>250</integer>
		</dict>
	</dict>
</dict>
</plist>
